body {
  margin: 0;
  padding: 0;
  background-color: rgb(53, 0, 0);
  width: 100%;
  height: 100%;
}

.container {
  background-color: rgb(53, 0, 0);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-gap: 5%;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.logo {
  background-color: rgb(53, 0, 0);
  width: 37%;
  height: 65%;
  text-align: center;
}

.formulario {
  border-radius: 10px;
  background-color: rgba(194, 186, 159, 0.897);
  width: 300px;
  height: 350px;
  justify-items: center;
  text-align: center;
  padding: 10px;
}

label {
  color: rgb(128, 26, 26);
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
  display: block;
}

.title {
  color: rgb(128, 26, 26);
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
}

input {
  background-color: rgba(223, 219, 208, 0.897);
  margin: 10px;
  padding: 6px 25px;
  font-family: cursive;
  border-width: 0px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 5px 5px 5px rgb(59, 57, 57);
}

.button {
  border-radius: 7px;
  color: rgb(235, 219, 219); 
  font-family: cursive;
  padding: 9px 28px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 20px;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: rgb(78, 0, 0);
  border-width: 0px;
}

.button:hover {
  background-color: rgb(175, 65, 65);
  color: rgb(255, 255, 255);
}
